* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.top-section-content,
.header {
  background-color: #1F2937;
  display: flex;
  align-items: center;
  padding: 8px 128px;
  justify-content: space-between;
}

.top-section {
  display: flex;
  flex-direction: column;
}

.top-section-content {
  padding: 96px 128px;
}

.header {
  padding-bottom: 0px;
}

.header-logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 700;
}

.content-container h1 {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.header-links a,
.content-container p {
  color: #E5E7EB;
  font-size: 18px;
}

.header-links {
  display: flex;
  gap: 16px;
}

.content-container {
  max-width: 400px;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.content-container button {
  background-color: #3882F6;
  color: #F9FAF8;
  padding: 8px 24px;
  border-radius: 8px;
  border: none;
  font-size: 12px;
  font-weight: 700;
  max-width: fit-content;
}


/* INFO SECTION CSS */


.info-image-container {
  display: flex;
  text-align: center;
  gap: 48px;
  padding-bottom: 86px;
  justify-content: center;
}

.info-section h2 {
  text-align: center;
  padding: 32px 0px;
  font-weight: 900;
  font-size: 36px;
  color: #1F2937;
}

.info-image {
  max-width: 150px;
}

.info-image img {
  border-radius: 16px;
  border-style: solid;
  border-color: #3882F6;
}

/* QUOTE SECTION */


.quote-section {
  background-color: #E5E7EB;
  padding: 64px 128px;
}

.quote-section em {
  font-size: 36px;
  font-weight: light;
  color: #1F2937;
  font-style: italic;
}

.quote-section p {
  color: black;
  font-weight: 900;
  text-align: end;
  margin-right: 32px;
  margin-top: 8px;
}
